<!doctype html>
<html lang="en">
  <head>
    <%= render "head", metadata: site.metadata, title: page[:title] %>
  </head>
  <body class='<%= "#{page[:layout]} #{page[:page_class]}" %>' data-controller="search">
    <%= render "top_nav", metadata: site.metadata, page: page %>

    <div style="max-height: calc(100vh - 100px); overflow: auto;">
      <%= yield %>

      <%= render "footer", metadata: site.metadata %>
    </div>
  </body>
</html>
