<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="<%= site.metadata.description %>">

<title><%= site.metadata.title %></title>

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ec4899">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- Social stuff -->
<meta property="og:image" content="https://mrujs.com/images/mugshot.jpeg">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="<%= site.metadata.title %>">

<!-- Fonts -->
<%= render "font_loader" %>

<!-- Critical CSS -->
<style>
  html {
    height: 100%;
  }

  body {
    font-family: var(--font-sans);
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    margin: 0;
  }

  :where(:not(:defined)) {
    display: none;
  }

  /* layout components */
  :root {
    --container-min-width: 0px;
    --container-relative-width: 75%;
    --container-max-width: var(--xl2);
  }

  .container {
    width: clamp(var(--container-min-width), var(--container-relative-width), var(--container-max-width));
    margin-right: auto;
    margin-left: auto;
  }

  .container--xs {
    --container-max-width: var(--xs);
  }

  .container--sm {
    --container-max-width: var(--sm);
  }

  .container--md {
    --container-max-width: var(--md);
  }

  .container--lg {
    --container-max-width: var(--lg);
  }

  .container--xl {
    --container-max-width: var(--xl);
  }
</style>

<!-- App CSS -->
<link rel="preload" data-turbolinks-track="reload" href="/frontend/styles/index.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" data-turbolinks-track="reload" href="/frontend/styles/index.css"></noscript>

<!-- Shoelace -->
<link rel="preload" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.64/dist/themes/light.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.64/dist/themes/light.css"></noscript>

<%= render "importmaps" %>

<!-- App JS -->
<script type="module" defer data-turbolinks-track="reload">
  import { Controller, Application } from "stimulus"
  import { setBasePath } from 'https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.64/dist/utilities/base-path.js';
  setBasePath('https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.64/dist/');
  import "https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.64/dist/components/icon/icon.js"
  import "https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.64/dist/components/button/button.js"
  import "https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.64/dist/components/alert/alert.js"
  import "https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.64/dist/components/drawer/drawer.js"
  import "https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.64/dist/components/icon-button/icon-button.js"
  import "bridgetown-quick-search"
  import mrujs from "mrujs"
  import Turbolinks from "turbolinks"

  class SearchController extends Controller {
    static get targets() {
      return ["container"]
    }

    show() {
      this.containerTarget.removeAttribute("hidden");
    }

    hide() {
      this.containerTarget.setAttribute("hidden", "")
    }
  }

  class SideNavController extends Controller {
    open() {
      this.drawer.show()
    }

    close() {
      this.drawer.hide()
    }

    toggle() {
      if (this.drawer.open) {
        this.open()
      } else {
        this.close()
      }
    }

    get drawer() {
      return document.querySelector("#side-nav-drawer")
    }
  }

  mrujs.start()
  Turbolinks.start()

  const application = Application.start()
  application.register("side-nav", SideNavController)
  application.register("search", SearchController)
</script>

