<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="morph-meta-test" content="<%= SecureRandom.hex(8) %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if ENV["PACK"] == "turbo" %>
      <script>window.useTurbo = true</script>
    <% else %>
      <script>window.useTurbo = false</script>
    <% end %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application', 'data-turbo-track': 'reload', 'data-turbolinks-track': 'reload' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <body>
    <%= yield %>
  </body>
</html>
