<style>
  a[data-ujs-disabled] {
    padding: 40px;
    background: red;
  }
</style>
<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, data: { confirm: 'Are you sure?', method: :delete } %></td>
        <td><%= link_to 'Ajax Destroy', post, data: { "confirm": "Are you sure?", disable_with: "Destroying...", method: :delete } %></td>

        <td><%= link_to 'Async Destroy', post, data: { "async-confirm": "Are you sure?", disable_with: "Destroying...", method: :delete } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path, data: { remote: "true", method: "post" } %>

<select value="1" data-remote="true" data-async-confirm="You wanna pick that?">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
</select>
